.background {
  min-height: 400px;
  width: 100%;
  padding: 20px;
  max-width: 1100px;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.background h4 {
  opacity: 0.65;
}

.background_content {
  padding: 15px 0;
  font-size: 30px;
  line-height: 35px;
  text-align: justify;
}

.background_content span{
  background-color: var(--element-bg);
  padding: 10px 10px 10px 5px;
  border-radius: 15px;
  position: relative;
  font-size: 20px;
  font-weight: 800;
  user-select: none;
  cursor: pointer;
}

.background_content span img{
  height: 30px;
  width: auto;
  border-radius: 50%;
  transform: translateY(8px)  ;
  
}
