/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: GraphikMedium;
  src: url("../assets/GraphikMedium.otf");
}
@font-face {
  font-family: GraphikRegular;
  src: url("../assets/GraphikRegular.otf");
}
/* my color variables  */
:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GraphikRegular, "Public Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
  transition: 0.2s;
}

html {
  /* light mode theme colors */
  --text-color: #242424;
  --body-bg: #fafafa;
  --body-bg-tr: #fafafac8;
  --hover-bg: #e4e4e4;
  --hover-bg-tr: #e4e4e470;
  --element-bg: #fff;

  background-color: var(--body-bg);
  color: var(--text-color);
  color-scheme: light;
}

html.dark {
  /* dark mode theme colors */
  --text-color: #f1f1f1;
  --body-bg: #161616;
  --body-bg-tr: #161616c8;
  --hover-bg: #202020;
  --hover-bg-tr: #20202070;
  --element-bg: #2a2a2a;

  background-color: var(--body-bg);
  color: var(--text-color);
  color-scheme: dark;
}

body {
  max-width: 1250px;
  margin: auto;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 10px;
  }
}

.hero h1 {
  font-family: GraphikMedium !important;
}
