/* styling for navbar */
nav {
  width: 100%;
  min-height: 60px;
  height: fit-content;
  background-color: var(--body-bg-tr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(17px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.logo img {
  height: 35px;
  border-radius: 50%;
}

.logo h3 {
  font-weight: 600;
  font-size: 18px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0;
  height: 100%;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 10px 10px 14px;
  background-color: transparent;
  border-radius: 10px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.links a:hover {
  background-color: var(--hover-bg);
}

.links a i {
  color: var(--text-color);
  font-size: 20px;
  transform: rotate(-45deg);
  opacity: 0.4;
}

.menu {
  display: none;
  background-color: var(--hover-bg);
  padding: 6px 6px 4px 6px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px;
}

.menu i {
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  nav {
    min-height: unset;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .links {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    flex-direction: column;
    background-color: var(--element-bg);
    height: fit-content;
    width: 130px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #00000010;
    
  }
  .links button,
  .links a {
    width: 100%;
  }
  .links button:hover,
  .links a:hover {
    background-color: var(--hover-bg);
  }
  #show:checked ~ .links{
    display: flex;
  }
  .menu {
    display: block;
  }
}
