.projects {
  width: 100%;
  padding: 20px;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.projects h4 {
  opacity: 0.65;
}

.project_grid {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.project_grid .project {
  background-color: transparent;
  padding: 30px 20px;
  border-top: 2px solid var(--hover-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-color);
}

.project_grid .project:nth-child(1) {
  border-top: none;
}

.project_grid .project:last-child {
  border-bottom: none;
}

.project_grid .project:hover{
    background-color: var(--hover-bg-tr);
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title h1 {
  font-size: 40px;
}

.title h1:first-child {
  opacity: 0.2;
  user-select: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: .3;
}

.project_grid .project:hover .icons{
    opacity: 1;
}

.icons button,
.icons a {
  background-color: transparent;
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.icons button:hover,
.icons a:hover {
  background-color: var(--hover-bg);
}

.icons button svg,
.icons a svg {
  stroke: #b8b8b8;
}

.icons button:hover svg,
.icons a:hover svg {
  stroke: var(--text-color);
}

.theme {
  background-color: transparent;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}

.theme i {
  color: #7e7e7e;
}

.theme:hover {
  background-color: var(--hover-bg);
}