.projects {
  width: 100%;
  padding: 20px;
  max-width: 1100px;
  margin: auto;
  position: relative;
  transition: 0.2s;
}

.projects h4 {
  opacity: 0.65;
}

.project_grid {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.project_grid .project {
  background-color: transparent;
  padding: 30px 10px;
  border-top: 2px solid var(--hover-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_grid .project:nth-child(1) {
  border-top: none;
}

.project_grid .project:last-child {
  border-bottom: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title h1 {
  font-size: 40px;
}

.title h1:first-child {
  opacity: 0.2;
  user-select: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 3px;
}

.icons button,
.icons a {
  background-color: transparent;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.icons button:hover,
.icons a:hover {
  background-color: var(--hover-bg);
}

.icons button svg,
.icons a svg {
  stroke: #b8b8b8;
}

.icons button:hover svg,
.icons a:hover svg {
  stroke: var(--text-color);
}

.theme {
  background-color: transparent;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}

.theme i {
  color: #7e7e7e;
}

.theme:hover {
  background-color: var(--hover-bg);
}

.projects .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000002c;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.5s;
  backdrop-filter: blur(6px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .overlay.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.projects .player {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 500px;
  border-radius: 25px;
  background-color: var(--element-bg);
  transform: scale(0.5);
  opacity: 0;
  transition: 0.3s ease-in;
}
.projects .overlay.show .player {
  opacity: 1;
  transform: scale(1);
}

.projects .player button {
  background-color: var(--hover-bg);
  color: var(--text-color);
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  transition: 0.3s;
}

.projects .player button:active {
  transform: scale(0.8);
}

.close_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}
